.spinner-wrapper{
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-around;
}
.disabled{
    opacity: 0.3;
    pointer-events: none;
}
.decrement{
    background-color: #000099;
    border-radius: 50%;
    color: white;
    padding: 5px;
    font-size: 12px;
}
.increment{
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 5px;
    font-size: 12px;
}