.wrapper{
    font-family: Arial, Helvetica, sans-serif;
    color: #000099;
}

.select-area{
    width:600px;
    border: 1px solid #000099;
    margin-top: 12px;
}

.select-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.bold{
    font-weight: bold;
}
hr{
    width: 95%;
}